<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
   <h5 class="my-3 border-bottom pb-2">질문등록</h5>
   <!--질문창 오류 검증 : questionForm으로 controller-->
   <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
	<!--에러 반복 템플릿-->
	<div th:replace="~{form_errors :: formErrorsFragment}"></div> <!--form_errors를 formErrorsFragment에 넣겠음-->
   <!--질문창 오류 검증 끝 -->
      <div class="mb-3">
         <label for="subject" class="form-label">제목</label>
         <input type="text" th:field="*{subject}" name="subject" id="subject" class="form-control">
      </div>
      <div class="mb-3">
         <label for="content" class="form-label">내용</label>
         <textarea name="content" th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
      </div>
      <input type="submit" value="저장하기" class="btn btn-primary my-2">
   </form>
</div>

</html>